footer.footer.bg-light
    .container
        .row
            .col-lg-6.h-100.text-center.text-lg-start.my-auto
                ul.list-inline.mb-2
                    li.list-inline-item
                        a(href='#!') About
                    li.list-inline-item ⋅
                    li.list-inline-item
                        a(href='#!') Contact
                    li.list-inline-item ⋅
                    li.list-inline-item
                        a(href='#!') Terms of Use
                    li.list-inline-item ⋅
                    li.list-inline-item
                        a(href='#!') Privacy Policy
                p.text-muted.small.mb-4.mb-lg-0 &copy; Your Website 2021. All Rights Reserved.
            .col-lg-6.h-100.text-center.text-lg-end.my-auto
                ul.list-inline.mb-0
                    li.list-inline-item.me-4
                        a(href='#!')
                            i.bi-facebook.fs-3
                    li.list-inline-item.me-4
                        a(href='#!')
                            i.bi-twitter.fs-3
                    li.list-inline-item
                        a(href='#!')
                            i.bi-instagram.fs-3
